*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100vh;
    background: rgb(236, 236, 236);
}
.logo{
    width: 100%;
    height: 100px;
    background: rgb(85, 113, 144);
    color:beige;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4rem;
    font-weight: bold;
}
.logo_text{
    width:100%;
    flex-grow: 5;
    padding-inline: 3rem;
}
.form{
    padding:4rem;
}
.login{
    font-size: 1.2rem;
    padding-inline: 2rem;
}
.login a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
    color:black;
}
#frmLogin{
    display:flex;
    flex-direction: column;
    width:20rem;
    padding: .2rem 2rem .2rem 2rem;
}
#login_username, #login_password{
    width:100%;
    font-size: .9rem;
    padding: .1rem;
    margin: .1rem;
    border-radius: .1rem;
    border:1px solid transparent;
}
#btnLogin{
    padding: .2rem;
    border:1px solid transparent;
    margin-inline: auto;
    width:100%;
    text-align: center;
}
#btnLogout{
    display:flex;
    width:10rem;
    padding: .3rem 1rem .3rem 1rem;
    border:1px solid gray;
    border-radius: .2rem;
    background: lightgray;
}


#frmCitat{
    padding:1rem;
    background: rgb(203, 203, 203);
    border:1px solid rgb(124, 124, 124);
    border-radius: 10px;
}
.form textarea, .form input[type='text'], .form input[type="password"]{
    width:100%;
    padding:.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    border:1px solid rgb(148, 148, 148);
    border-radius:10px;
}
.form input[type='submit']{
    width:10rem;
    border:1px solid #999;
    border-radius:10px;
    height:3rem;
    margin: .5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
}
.actualCitat{
    margin: .4rem 4rem .1rem 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
}
.who{
    margin: .1rem 4rem .3rem 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;  
    font-style: italic;  
    font-weight: bold;
    text-align: right;
    border-bottom: 1px solid #666;

}
.gg-close-r {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 18px;
    border: 2px solid;
    border-radius: 3px
   }
   
   .gg-close-r::after,
   .gg-close-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 6px;
    left: 3px
   }
   
   .gg-close-r::after {
    transform: rotate(-45deg)
   } 
   .gg-keyboard {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 18px;
    border: 2px solid;
    border-radius: 3px
   }
   
   .gg-keyboard::after,
   .gg-keyboard::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    height: 2px;
    border-radius: 4px;
    background: currentColor
   }
   
   .gg-keyboard::before {
    top: 2px;
    box-shadow:
    4px 0 0,
    8px 0 0,
    0 4px 0,
    4px 4px 0,
    8px 4px 0
    ;
    width: 2px;
    left: 2px
   }
   
   .gg-keyboard::after {
    width: 8px;
    bottom: 2px;
    left: 3px
   } 
   a{
    text-decoration: none;
   }
   .a_del{
    color:rgb(204, 10, 10);
   }
   .a_edit{
    color:rgb(19, 141, 19);
   }
   .formbox{
    width:50%;
    margin: 2rem;
    padding: 3rem;
    background: rgb(214, 214, 214);
   }
   .content{
    width:80%;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }